html, body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: white;
        min-height: 100%;
        height: 100%;
}

.span-80pr {
    width:80%;
    position: inherit;
    float: left;
}


#page
{
    background: white;
    height: auto !important;
    height: 100%;
    margin-top: 42px;
}

#breadcrumbs {
    color: #808080;
}


.clearfix:after, .container:after {
    display: inline-block;
}
#header
{
	margin: 0;
	padding: 0;
        /*border: #298dcd solid 1px;
        border-top: 0;*/
}

#content
{
    padding: 0 42px 0 88px;
    margin-top: 0;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
        height:100px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
        width:950px;
        margin:-130px auto;
}

#footerempty {
    height:150px;
    clear: both;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
        color: #AFA56A;
}

#mainmenu {
    padding-bottom: 42px;
}

#mainmenu ul
{
	padding:6px 20px 25px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#6da3bd;
	background-color:transparent;
	font-size:18px;
	padding-right: 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #565656;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	margin: 0 0 150px;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

h2 {
    line-height:1;
    margin: 0;
    padding: 0;
}

a {
    color: #5c7f95;
}

a:hover {
    color: #4d7285;
}

h1 a {
    color: #666666;
}

.gray {
    color: #565656;
}

.mini {
    font-size: 10px;
}

hr {
    margin:5px 0;
}

.right {
    width: auto;
    float: right;
    text-align: right;
}

.block {
    /*float: left;*/
    display: inline;
    margin:0 10px 10px 0;
}

.float-left{
    float: left;
    margin:0 10px 10px 0;
}

.post-content {
    padding: 10px 0;
    font-size: 14px;
    line-height: 160%;
}

.script {
    text-decoration: none;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #5c7f95 !important;
    color: #5c7f95 !important;
}

.icon-clock {
    padding-left: 20px;
    background-image: url(/images/clock_16x16.png) !important; background-repeat: no-repeat;
}

.icon-clock-mini {
    padding-left: 16px;
    background-image: url(/images/clock_12x12.png) !important; background-repeat: no-repeat;
}


.icon-comments {
    padding-left: 20px;
    background-image: url(/images/chat_16x16.png) !important; background-repeat: no-repeat;
}

.icon-comments-disabled {
    padding-left: 20px;
    background-image: url(/images/chat_alt_fill_16x16.png) !important; background-repeat: no-repeat;
}


.icon-pin-big {
    padding-left: 30px;
    background-image: url(/images/pin_24x24.png) !important; background-repeat: no-repeat;
}

.icon-lock-big {
    padding-left: 30px;
    background-image: url(/images/lock_stroke_18x24.png) !important; background-repeat: no-repeat;
}

.icon-denied {
    padding-left: 30px;
    background-image: url(/images/denied_24x24.png) !important; background-repeat: no-repeat;
}

.icon-x {
    padding-left: 24px;
    background-image: url(/images/x_21x21.png) !important; background-repeat: no-repeat;
}

.icon-cut {
    padding-left: 20px;
    background-image: url(/images/read_more_16x16.png) !important; background-repeat: no-repeat;
}


.icon-heart {
    padding-left: 20px;
    background-image: url(/images/heart_stroke_16x14.png) !important; background-repeat: no-repeat;
}

.icon-eye {
    padding-left: 20px;
    background-image: url(/images/eye.png) !important; background-repeat: no-repeat;
}

.icon-rss {
    padding-left: 20px;
    background-image: url(/images/rss_16x16.png) !important; background-repeat: no-repeat;
}

.icon-user-mini {
    padding-left: 12px;
    background-image: url(/images/user_9x12.png) !important; background-repeat: no-repeat;
}

.avatar {
    /*padding-left: 30px;*/
    background-image: url(/images/no_avatar.jpg) !important; background-repeat: no-repeat;
    /*line-height: 30px;*/
    border-radius: 3px 3px 3px 3px;
    display: block;
    float: left;
    height: 24px;
    margin-right: 10px;
    padding-left: 30px;
    overflow: hidden;
}


.icon-tag-big {
    padding-left: 40px;
    background-image: url(/images/tag_stroke_32x32.png) !important; background-repeat: no-repeat;
}


ul.yiiPager
{
	font-size:24px;
	border:0;
	margin:0;
	padding:0;
	line-height:100%;
	display:inline;
}

ul.yiiPager li
{
	display:inline;

}

ul.yiiPager a:link,
ul.yiiPager a:visited
{
	padding:1px 6px;
	text-decoration:none;
}

ul.yiiPager .page a
{
	font-weight:normal;
}


ul.yiiPager .selected a
{
	color:#000000;
}

/**
 * Hide first and last buttons by default.
 */
ul.yiiPager .first,
ul.yiiPager .last
{
	display:none;
}

.list-view .pager {
    margin-top: 50px !important;
    text-align: left !important;
}

.tag {
    padding-left: 20px;
    background-image: url(/images/tag_stroke_16x16.png) !important; background-repeat: no-repeat;
    margin-right: 20px;
    color: #6c9471;
}

.tags-clear {
    clear: both;
}

.tag:hover{
    color: #008000;
}

.tag-widget {
    margin-bottom: 88px;
}

.main {
    font-size: 40px;
}

.sub-main {
    font-size: 32px;
}

.sub-main a {
    color: #6c9471;
}


.info {
    font-size: 14px;
    color: #cc66cc;
}

.cursor-help {
    cursor: help;
}

.redactor_input {
    z-index: auto !important;
}

body .redactor_toolbar li a.redactor_btn_source {
    background: url(/images/16_code.png) no-repeat;
    background-position: center center;
}

.markItUp .markItUpButton1 a {
    background-image:url(/images/text_bold.png) !important;
}

.markItUp .markItUpButton2 a {
    background-image:url(/images/text_italic.png) !important;
}

.markItUp .markItUpButton3 a {
    background-image:url(/images/stroke.png) !important;
}

.markItUp .markItUpButton4 a {
    background-image:url(/images/blockquote.png) !important;
}

.markItUp .markItUpButton5 a {
    background-image:url(/images/sarcasm.png) !important;
}

.markItUp .markItUpButton6 a {
    background-image:url(/images/link_make.png) !important;
}

.markItUp .markItUpButton7 a {
    background-image:url(/images/media_scripts.png) !important;
}

.markItUp .markItUpButton8 a {
    background-image:url(/images/document_preview.png) !important;
}

blockquote {
    border-left: #d3d3d3 solid 3px;
    display: block;
    padding-left: 5px;
    margin: 5px 10px;
}

.sarcasm {
    font-size: 12px;
    font-style: italic;
    color: red;
}

p {
    margin: 0 0;
}

.comments-list li {
    margin: 40px 0 !important;
    /*padding: 0 0 !important;*/
}

.comment-text {
    padding-left: 15px !important;
}

.comments-list a {
    color: #666666;
}

.post-footer {
    border: #dddddd solid 1px;
    border-radius: 3px 3px 3px 3px;
    padding: 5px;
    width: 100%;
}

.comment-deleted {
    font-size: 20px;
    color: #dddddd;
}

.comments-h2 {
    color: #AFA56A;
}

.post-cut {
    margin-top: 20px;
}

.post-cut a {
    font-size: 16px;
}

.disqus-widget {
    margin: 20px;
    margin-top: 40px;
}

.jsfiddle-embedded {
    margin-top: 10px;
    margin-bottom: 10px;
}

.par {
    margin-bottom: 10px;
    margin-top: 10px;
}

.code {
    padding: 8px;
    background: #eeeeee;
    font-family: monospace;
    overflow: auto;
}

.inline {
    display: inline-block;
    background: #eeeeee;
    font-family: monospace;
    white-space: nowrap;
    margin: 0;
    padding: 0 4px 0 4px;
    line-height:0;
}

.post-content h1,h2,h3,h4 {
    color: #777777;
    font-weight: bolder;
    text-indent: 42px;
}

.content-right {
    float: left;
    width: 20%;
}